In [112]:
#Import package
import os
import numpy as np
import pandas as pd
import datetime
from pandas_datareader import data as web

# import yfinance as yf
# import requests
# import lxml
# from bs4 import BeautifulSoup #BeutifulSoup

#Data Preparation

##Web Scrapping

This section will perform web scrapping to scrap all S&P500 tickers on wikipedia. https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

We can simply use padnas to get the table from wiki.

In [106]:
#Store the S&P information in pandas dataframe
wiki_url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#Selected_changes_to_the_list_of_S&P_500_components"
tickers_df_list = pd.read_html(wiki_url)
tickers_df = tickers_df_list[0]
tickers_df.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [108]:
#Turn pandas dataframe to the list
tickers = tickers_df['Symbol'].values.tolist()
print(len(tickers))

503

##Downloan the financial data

In [113]:
AAPL = web.DataReader('AAPL', 'av-daily', start = datetime(2000, 1, 1),
                      end = datetime(2023, 7, 28),
                      api_key = os.getenv('ALPHAVANTAGE_API_KEY'))
AAPL

TypeError: ignored