# Import package

In [28]:
#Import package
import os
import numpy as np
import pandas as pd
from datetime import datetime
from pandas_datareader import data as web
import requests

# import yfinance as yf
# import lxml
# from bs4 import BeautifulSoup #BeutifulSoup

# Data Preparation

## Web Scrapping

This section will perform web scrapping to scrap all S&P500 tickers on wikipedia. https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

We can simply use padnas to get the table from wiki.

In [30]:
#Store the S&P information in pandas dataframe
wiki_url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#Selected_changes_to_the_list_of_S&P_500_components"
tickers_df_list = pd.read_html(wiki_url)
tickers_df = tickers_df_list[0]
tickers_df.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [10]:
#Turn pandas dataframe to the list
tickers = tickers_df['Symbol'].values.tolist()
print(len(tickers))

503

## Download the financial data

In [32]:
#Download the financial data from Alpha vantage
function = 'TIME_SERIES_INTRADAY'
interval = '60min'
month = '2000-01'
datatype = 'json'
outputsize = 'compact'
alpha_vantage_apikey = 'RZ2BSD9KOG0RKCUL'
ticker = 'AAPL'

url = f'https://www.alphavantage.co/query?function={function}&symbol={ticker}&interval={interval}&apikey={alpha_vantage_apikey}'
r = requests.get(url)
r.
r.json()

{'Meta Data': {'1. Information': 'Intraday (60min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2023-07-28 19:00:00',
  '4. Interval': '60min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (60min)': {'2023-07-28 19:00:00': {'1. open': '195.8500',
   '2. high': '195.9500',
   '3. low': '195.7800',
   '4. close': '195.9500',
   '5. volume': '20654'},
  '2023-07-28 18:00:00': {'1. open': '195.8000',
   '2. high': '195.8600',
   '3. low': '195.7200',
   '4. close': '195.8400',
   '5. volume': '22108'},
  '2023-07-28 17:00:00': {'1. open': '195.6800',
   '2. high': '195.8300',
   '3. low': '195.6200',
   '4. close': '195.7750',
   '5. volume': '359879'},
  '2023-07-28 16:00:00': {'1. open': '195.8400',
   '2. high': '195.8700',
   '3. low': '195.3000',
   '4. close': '195.6700',
   '5. volume': '15958267'},
  '2023-07-28 15:00:00': {'1. open': '195.9250',
   '2. high': '196.1500',
   '3. low': '195.4200',
   '4. close': '195.8400',
   '5. volume': '8229424'},
  '2023-07-28 14:00:00': {'1. open': '195.7300',
   '2. high': '196.2000',
   '3. low': '195.5450',
   '4. close': '195.9300',
   '5. volume': '4342299'},
  '2023-07-28 13:00:00': {'1. open': '195.9400',
   '2. high': '195.9500',
   '3. low': '195.0300',
   '4. close': '195.7250',
   '5. volume': '3484364'},
  '2023-07-28 12:00:00': {'1. open': '196.5200',
   '2. high': '196.5200',
   '3. low': '195.8800',
   '4. close': '195.9450',
   '5. volume': '4650938'},
  '2023-07-28 11:00:00': {'1. open': '195.7300',
   '2. high': '196.6260',
   '3. low': '195.7000',
   '4. close': '196.5100',
   '5. volume': '4667793'},
  '2023-07-28 10:00:00': {'1. open': '195.6600',
   '2. high': '196.1500',
   '3. low': '195.3100',
   '4. close': '195.7200',
   '5. volume': '6574766'},
  '2023-07-28 09:00:00': {'1. open': '195.0700',
   '2. high': '196.0350',
   '3. low': '193.3450',
   '4. close': '195.6500',
   '5. volume': '6140812'},
  '2023-07-28 08:00:00': {'1. open': '194.8400',
   '2. high': '195.2000',
   '3. low': '193.2200',
   '4. close': '195.0600',
   '5. volume': '274353'},
  '2023-07-28 07:00:00': {'1. open': '194.8400',
   '2. high': '194.8600',
   '3. low': '194.5700',
   '4. close': '194.7500',
   '5. volume': '49423'},
  '2023-07-28 06:00:00': {'1. open': '194.9000',
   '2. high': '194.9000',
   '3. low': '194.5600',
   '4. close': '194.8500',
   '5. volume': '12555'},
  '2023-07-28 05:00:00': {'1. open': '194.6400',
   '2. high': '194.9000',
   '3. low': '194.3100',
   '4. close': '194.8800',
   '5. volume': '14734'},
  '2023-07-28 04:00:00': {'1. open': '194.0300',
   '2. high': '194.6700',
   '3. low': '193.9500',
   '4. close': '194.6500',
   '5. volume': '27353'},
  '2023-07-27 19:00:00': {'1. open': '193.3800',
   '2. high': '193.5500',
   '3. low': '193.2200',
   '4. close': '193.4000',
   '5. volume': '28701'},
  '2023-07-27 18:00:00': {'1. open': '193.3500',
   '2. high': '193.3900',
   '3. low': '193.0500',
   '4. close': '193.3900',
   '5. volume': '47842'},
  '2023-07-27 17:00:00': {'1. open': '193.3400',
   '2. high': '193.3800',
   '3. low': '193.2650',
   '4. close': '193.3650',
   '5. volume': '31420'},
  '2023-07-27 16:00:00': {'1. open': '193.2400',
   '2. high': '194.6250',
   '3. low': '193.0900',
   '4. close': '193.3200',
   '5. volume': '9218514'},
  '2023-07-27 15:00:00': {'1. open': '192.9400',
   '2. high': '193.6600',
   '3. low': '192.5500',
   '4. close': '193.2300',
   '5. volume': '8929308'},
  '2023-07-27 14:00:00': {'1. open': '194.6700',
   '2. high': '194.8700',
   '3. low': '192.9200',
   '4. close': '192.9600',
   '5. volume': '6681930'},
  '2023-07-27 13:00:00': {'1. open': '196.0800',
   '2. high': '196.2600',
   '3. low': '194.4700',
   '4. close': '194.6760',
   '5. volume': '4869181'},
  '2023-07-27 12:00:00': {'1. open': '195.8470',
   '2. high': '196.4300',
   '3. low': '195.8300',
   '4. close': '196.0750',
   '5. volume': '3201098'},
  '2023-07-27 11:00:00': {'1. open': '195.5450',
   '2. high': '196.4400',
   '3. low': '195.4900',
   '4. close': '195.8300',
   '5. volume': '4934089'},
  '2023-07-27 10:00:00': {'1. open': '196.9200',
   '2. high': '197.0350',
   '3. low': '195.4500',
   '4. close': '195.5430',
   '5. volume': '6254341'},
  '2023-07-27 09:00:00': {'1. open': '196.0600',
   '2. high': '197.2000',
   '3. low': '195.8200',
   '4. close': '196.9120',
   '5. volume': '6322374'},
  '2023-07-27 08:00:00': {'1. open': '196.1700',
   '2. high': '196.4500',
   '3. low': '194.5000',
   '4. close': '196.0800',
   '5. volume': '302617'},
  '2023-07-27 07:00:00': {'1. open': '196.2500',
   '2. high': '196.4500',
   '3. low': '196.0000',
   '4. close': '196.2000',
   '5. volume': '118188'},
  '2023-07-27 06:00:00': {'1. open': '196.2300',
   '2. high': '196.3800',
   '3. low': '196.0100',
   '4. close': '196.2500',
   '5. volume': '36088'},
  '2023-07-27 05:00:00': {'1. open': '196.0800',
   '2. high': '196.2700',
   '3. low': '196.0000',
   '4. close': '196.1900',
   '5. volume': '26863'},
  '2023-07-27 04:00:00': {'1. open': '195.3000',
   '2. high': '196.4000',
   '3. low': '195.3000',
   '4. close': '196.1000',
   '5. volume': '58174'},
  '2023-07-26 19:00:00': {'1. open': '194.8000',
   '2. high': '195.0000',
   '3. low': '194.7500',
   '4. close': '194.9500',
   '5. volume': '27943'},
  '2023-07-26 18:00:00': {'1. open': '194.7100',
   '2. high': '194.9500',
   '3. low': '194.6500',
   '4. close': '194.8250',
   '5. volume': '76784'},
  '2023-07-26 17:00:00': {'1. open': '194.4600',
   '2. high': '194.7700',
   '3. low': '194.3600',
   '4. close': '194.7100',
   '5. volume': '1385657'},
  '2023-07-26 16:00:00': {'1. open': '194.5200',
   '2. high': '195.0900',
   '3. low': '194.4000',
   '4. close': '194.4800',
   '5. volume': '17024500'},
  '2023-07-26 15:00:00': {'1. open': '195.0800',
   '2. high': '195.1900',
   '3. low': '193.6600',
   '4. close': '194.5200',
   '5. volume': '9653997'},
  '2023-07-26 14:00:00': {'1. open': '194.1520',
   '2. high': '195.6400',
   '3. low': '193.9400',
   '4. close': '195.0650',
   '5. volume': '6290204'},
  '2023-07-26 13:00:00': {'1. open': '194.3700',
   '2. high': '194.4500',
   '3. low': '194.0500',
   '4. close': '194.1550',
   '5. volume': '2531530'},
  '2023-07-26 12:00:00': {'1. open': '194.7660',
   '2. high': '194.9400',
   '3. low': '194.1850',
   '4. close': '194.3750',
   '5. volume': '3230557'},
  '2023-07-26 11:00:00': {'1. open': '194.4100',
   '2. high': '194.8300',
   '3. low': '194.0200',
   '4. close': '194.7800',
   '5. volume': '3586293'},
  '2023-07-26 10:00:00': {'1. open': '193.6550',
   '2. high': '194.7200',
   '3. low': '193.6400',
   '4. close': '194.4110',
   '5. volume': '6223919'},
  '2023-07-26 09:00:00': {'1. open': '193.5100',
   '2. high': '194.1800',
   '3. low': '193.2500',
   '4. close': '193.6500',
   '5. volume': '4301987'},
  '2023-07-26 08:00:00': {'1. open': '193.3400',
   '2. high': '194.2300',
   '3. low': '193.1500',
   '4. close': '193.6000',
   '5. volume': '160794'},
  '2023-07-26 07:00:00': {'1. open': '193.3200',
   '2. high': '193.4900',
   '3. low': '193.3000',
   '4. close': '193.3300',
   '5. volume': '36020'},
  '2023-07-26 06:00:00': {'1. open': '193.6400',
   '2. high': '193.6900',
   '3. low': '193.2100',
   '4. close': '193.3100',
   '5. volume': '26734'},
  '2023-07-26 05:00:00': {'1. open': '193.7400',
   '2. high': '193.7700',
   '3. low': '193.6200',
   '4. close': '193.6400',
   '5. volume': '6393'},
  '2023-07-26 04:00:00': {'1. open': '193.5700',
   '2. high': '193.9300',
   '3. low': '193.3500',
   '4. close': '193.7500',
   '5. volume': '13232'},
  '2023-07-25 19:00:00': {'1. open': '193.3700',
   '2. high': '193.5700',
   '3. low': '193.3400',
   '4. close': '193.5300',
   '5. volume': '38188'},
  '2023-07-25 18:00:00': {'1. open': '193.8100',
   '2. high': '193.9400',
   '3. low': '193.2100',
   '4. close': '193.3950',
   '5. volume': '100839'},
  '2023-07-25 17:00:00': {'1. open': '193.5200',
   '2. high': '203.3040',
   '3. low': '184.1270',
   '4. close': '193.8400',
   '5. volume': '102174'},
  '2023-07-25 16:00:00': {'1. open': '193.6300',
   '2. high': '194.0000',
   '3. low': '193.3000',
   '4. close': '193.5100',
   '5. volume': '12841526'},
  '2023-07-25 15:00:00': {'1. open': '193.9450',
   '2. high': '194.4200',
   '3. low': '193.6000',
   '4. close': '193.6200',
   '5. volume': '7070443'},
  '2023-07-25 14:00:00': {'1. open': '193.9700',
   '2. high': '194.4400',
   '3. low': '193.8700',
   '4. close': '193.9400',
   '5. volume': '3739932'},
  '2023-07-25 13:00:00': {'1. open': '193.9190',
   '2. high': '194.2400',
   '3. low': '193.8400',
   '4. close': '193.9750',
   '5. volume': '2735341'},
  '2023-07-25 12:00:00': {'1. open': '193.7650',
   '2. high': '193.9650',
   '3. low': '193.6100',
   '4. close': '193.9200',
   '5. volume': '2607375'},
  '2023-07-25 11:00:00': {'1. open': '193.2720',
   '2. high': '194.1300',
   '3. low': '193.2500',
   '4. close': '193.7650',
   '5. volume': '3473147'},
  '2023-07-25 10:00:00': {'1. open': '193.9550',
   '2. high': '194.2000',
   '3. low': '193.2300',
   '4. close': '193.2800',
   '5. volume': '4627711'},
  '2023-07-25 09:00:00': {'1. open': '193.5800',
   '2. high': '194.0200',
   '3. low': '192.9150',
   '4. close': '193.9500',
   '5. volume': '4887315'},
  '2023-07-25 08:00:00': {'1. open': '193.3700',
   '2. high': '193.8200',
   '3. low': '192.7500',
   '4. close': '193.5600',
   '5. volume': '155464'},
  '2023-07-25 07:00:00': {'1. open': '193.3400',
   '2. high': '193.5600',
   '3. low': '193.3400',
   '4. close': '193.5500',
   '5. volume': '26925'},
  '2023-07-25 06:00:00': {'1. open': '193.5500',
   '2. high': '193.5600',
   '3. low': '193.2600',
   '4. close': '193.3500',
   '5. volume': '19178'},
  '2023-07-25 05:00:00': {'1. open': '193.5600',
   '2. high': '193.5900',
   '3. low': '193.4500',
   '4. close': '193.5500',
   '5. volume': '10986'},
  '2023-07-25 04:00:00': {'1. open': '193.6500',
   '2. high': '193.6800',
   '3. low': '193.3600',
   '4. close': '193.5300',
   '5. volume': '21050'},
  '2023-07-24 19:00:00': {'1. open': '192.8000',
   '2. high': '193.6800',
   '3. low': '192.7500',
   '4. close': '193.4500',
   '5. volume': '117141'},
  '2023-07-24 18:00:00': {'1. open': '192.8350',
   '2. high': '192.8600',
   '3. low': '192.7500',
   '4. close': '192.8000',
   '5. volume': '15980'},
  '2023-07-24 17:00:00': {'1. open': '192.8600',
   '2. high': '199.4390',
   '3. low': '192.7500',
   '4. close': '192.8350',
   '5. volume': '476779'},
  '2023-07-24 16:00:00': {'1. open': '192.7500',
   '2. high': '194.4800',
   '3. low': '191.6500',
   '4. close': '192.8600',
   '5. volume': '10762313'},
  '2023-07-24 15:00:00': {'1. open': '192.7530',
   '2. high': '192.8800',
   '3. low': '192.2500',
   '4. close': '192.7350',
   '5. volume': '5206106'},
  '2023-07-24 14:00:00': {'1. open': '192.9800',
   '2. high': '193.4600',
   '3. low': '192.5950',
   '4. close': '192.7600',
   '5. volume': '3811783'},
  '2023-07-24 13:00:00': {'1. open': '193.0650',
   '2. high': '193.1100',
   '3. low': '192.7650',
   '4. close': '192.9660',
   '5. volume': '2841217'},
  '2023-07-24 12:00:00': {'1. open': '193.1200',
   '2. high': '193.4200',
   '3. low': '192.8900',
   '4. close': '193.0600',
   '5. volume': '3724953'},
  '2023-07-24 11:00:00': {'1. open': '193.3800',
   '2. high': '193.7400',
   '3. low': '192.8300',
   '4. close': '193.1200',
   '5. volume': '8184574'},
  '2023-07-24 10:00:00': {'1. open': '193.5100',
   '2. high': '193.8300',
   '3. low': '192.9600',
   '4. close': '193.3800',
   '5. volume': '5901939'},
  '2023-07-24 09:00:00': {'1. open': '192.7700',
   '2. high': '194.9100',
   '3. low': '191.9400',
   '4. close': '193.5100',
   '5. volume': '8583061'},
  '2023-07-24 08:00:00': {'1. open': '192.9500',
   '2. high': '193.2950',
   '3. low': '191.5800',
   '4. close': '192.7500',
   '5. volume': '210596'},
  '2023-07-24 07:00:00': {'1. open': '193.0200',
   '2. high': '193.1400',
   '3. low': '192.7500',
   '4. close': '193.0000',
   '5. volume': '133968'},
  '2023-07-24 06:00:00': {'1. open': '192.4600',
   '2. high': '193.2600',
   '3. low': '192.3600',
   '4. close': '193.0300',
   '5. volume': '47214'},
  '2023-07-24 05:00:00': {'1. open': '192.5300',
   '2. high': '192.7900',
   '3. low': '192.4300',
   '4. close': '192.4300',
   '5. volume': '11232'},
  '2023-07-24 04:00:00': {'1. open': '191.7700',
   '2. high': '192.8800',
   '3. low': '191.7700',
   '4. close': '192.4900',
   '5. volume': '12707'},
  '2023-07-21 19:00:00': {'1. open': '192.0500',
   '2. high': '192.1000',
   '3. low': '191.9800',
   '4. close': '192.0500',
   '5. volume': '11900'},
  '2023-07-21 18:00:00': {'1. open': '192.0300',
   '2. high': '192.0800',
   '3. low': '187.7040',
   '4. close': '192.0200',
   '5. volume': '24003'},
  '2023-07-21 17:00:00': {'1. open': '191.9400',
   '2. high': '192.3000',
   '3. low': '181.6570',
   '4. close': '192.0000',
   '5. volume': '7709523'},
  '2023-07-21 16:00:00': {'1. open': '191.9300',
   '2. high': '194.1300',
   '3. low': '191.9100',
   '4. close': '192.2750',
   '5. volume': '33986418'},
  '2023-07-21 15:00:00': {'1. open': '192.5900',
   '2. high': '192.6900',
   '3. low': '191.2300',
   '4. close': '191.9300',
   '5. volume': '10605758'},
  '2023-07-21 14:00:00': {'1. open': '193.1100',
   '2. high': '193.1850',
   '3. low': '192.3900',
   '4. close': '192.5900',
   '5. volume': '3609015'},
  '2023-07-21 13:00:00': {'1. open': '192.1700',
   '2. high': '193.2200',
   '3. low': '192.1000',
   '4. close': '193.1100',
   '5. volume': '3559428'},
  '2023-07-21 12:00:00': {'1. open': '193.1050',
   '2. high': '193.1500',
   '3. low': '191.9600',
   '4. close': '192.1730',
   '5. volume': '5768999'},
  '2023-07-21 11:00:00': {'1. open': '193.1600',
   '2. high': '193.8100',
   '3. low': '192.7000',
   '4. close': '193.1050',
   '5. volume': '4524288'},
  '2023-07-21 10:00:00': {'1. open': '193.7950',
   '2. high': '194.1200',
   '3. low': '192.8100',
   '4. close': '193.1500',
   '5. volume': '7599879'},
  '2023-07-21 09:00:00': {'1. open': '193.7600',
   '2. high': '196.1450',
   '3. low': '193.7000',
   '4. close': '193.7900',
   '5. volume': '8298831'},
  '2023-07-21 08:00:00': {'1. open': '193.3350',
   '2. high': '193.9900',
   '3. low': '192.7950',
   '4. close': '193.7900',
   '5. volume': '191958'},
  '2023-07-21 07:00:00': {'1. open': '193.3100',
   '2. high': '193.7000',
   '3. low': '193.2300',
   '4. close': '193.3400',
   '5. volume': '63554'},
  '2023-07-21 06:00:00': {'1. open': '192.9400',
   '2. high': '193.4300',
   '3. low': '192.9100',
   '4. close': '193.3500',
   '5. volume': '13333'},
  '2023-07-21 05:00:00': {'1. open': '193.1700',
   '2. high': '193.1700',
   '3. low': '192.7000',
   '4. close': '192.9600',
   '5. volume': '12282'},
  '2023-07-21 04:00:00': {'1. open': '192.9800',
   '2. high': '193.4000',
   '3. low': '192.9800',
   '4. close': '193.1700',
   '5. volume': '28633'},
  '2023-07-20 19:00:00': {'1. open': '192.9900',
   '2. high': '193.1200',
   '3. low': '192.5500',
   '4. close': '192.9900',
   '5. volume': '84071'},
  '2023-07-20 18:00:00': {'1. open': '192.9200',
   '2. high': '193.1700',
   '3. low': '192.8000',
   '4. close': '192.9850',
   '5. volume': '87339'},
  '2023-07-20 17:00:00': {'1. open': '195.1000',
   '2. high': '195.1000',
   '3. low': '189.9220',
   '4. close': '192.9000',
   '5. volume': '112415'},
  '2023-07-20 16:00:00': {'1. open': '193.1400',
   '2. high': '197.8700',
   '3. low': '192.9100',
   '4. close': '192.9600',
   '5. volume': '14176204'}}}